* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.4;
}

.lp-logo__image {
  width: 120px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 22px;
  z-index: 3;
}


.lp-hero {
  position: relative;
  min-height: 92vh;
  display: flex;
  align-items: center;
  padding: 90px 22px 40px;
  overflow: hidden;
}

.lp-hero__bg {
  position: absolute;
  inset: 0;
  background: url("https://www.importacionesamexico.com.mx/images/thumbnails/M%C3%A1quina%201.png?_t=1770309032") center/cover no-repeat;
  filter: saturate(1.05);
  transform: scale(1.02);
}

.lp-hero__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(6, 20, 40, 0.60);
}

.lp-hero__inner {
  position: relative;
  z-index: 2;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.4fr 420px;
  gap: 28px;
  align-items: start;
}

.lp-hero__content {
  color: #fff;
  padding-top: 10px;
}

.lp-hero__title {
  font-size: 50px;
  margin: 0 0 10px;
  letter-spacing: .2px;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.lp-hero__subtitle {
  font-size: 22px;
  margin: 0;
  color: rgba(255, 255, 255, .9);
  max-width: 650px;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lp-card {
  background: rgba(10, 30, 55, 0.80);
  border-radius: 14px;
  padding: 20px;
  color: #fff;
  box-shadow: 0 14px 40px rgba(0, 0, 0, .35);
  border: 1px solid rgba(255, 255, 255, .08);
}

.lp-card__title {
  margin: 0 0 14px;
  font-size: 22px;
}

.lp-form {
  display: grid;
  gap: 10px;
}

.lp-field {
  display: grid;
  gap: 6px;
}

.lp-label {
  font-size: 13px;
  color: rgba(255, 255, 255, .85);
}

.lp-input,
.lp-select {
  width: 100%;
  padding: 12px 12px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .18);
  background: rgba(255, 255, 255, .92);
  outline: none;
  font-size: 14px;
}

.lp-input:focus,
.lp-select:focus {
  border-color: rgba(255, 255, 255, .45);
}

.lp-btn {
  margin-top: 6px;
  border: 0;
  width: 100%;
  padding: 13px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: .4px;
  background: #f08a1b;
  color: #fff;
}

.lp-band {
  position: relative;
  background: url("https://www.importacionesamexico.com.mx/images/thumbnails/bg-granulado.webp") center/cover no-repeat;
  padding: 40px 22px 50px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}


.lp-band::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  /* ajusta la oscuridad aquí */
  z-index: 1;
}


.lp-band>* {
  position: relative;
  z-index: 2;
}

.lp-band__title {
  margin: 0 0 6px;
  font-size: 28px;
}

.lp-band__title span {
  color: #38BDF8;
}

.lp-band__subtitle {
  margin: 0 0 26px;
  color: rgba(255, 255, 255, .85);
}

.lp-features {
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.lp-feature {
  padding: 16px 14px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, .08);
}

.lp-feature:hover {
  background-color: rgba(255, 255, 255, .05);
  cursor: pointer;
}


.lp-footer-text-feature {
  font-size: 20px;
  font-weight: 700;
}

.icon-1,
.icon-2,
.icon-3 {
  width: 100%;
  height: 80px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* Iconos */
.icon-1 {
  background-image: url("https://www.importacionesamexico.com.mx/images/thumbnails/img-1.png");
}

.icon-2 {
  background-image: url("https://www.importacionesamexico.com.mx/images/thumbnails/img-3.png");
}

.icon-3 {
  background-image: url("https://www.importacionesamexico.com.mx/images/thumbnails/img-2.png");
}



.lp-feature__title {
  margin: 0 0 6px;
  font-size: 18px;
}

.lp-feature__text {
  margin: 0;
  color: rgba(255, 255, 255, .85);
  font-size: 14px;
}


.lp-footer {
  position: relative;
  background: url("https://www.importacionesamexico.com.mx/images/thumbnails/footer-hielo.png");
  background-size: cover;
  background-position: center;
  padding: 20px 22px;
  text-align: center;
  color: #fff;
}

.lp-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.60);
  z-index: 1;
}

.lp-footer>* {
  position: relative;
  z-index: 2;
}




@media (max-width: 980px) {
  .lp-hero__inner {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .lp-card {
    max-width: 520px;
    width: 100%;
    background: rgba(10, 30, 55, 0.50);
  }

  .lp-hero__title {
    font-size: 35px;
  }

  .lp-hero__subtitle {
    font-size: 18px;
  }

  .lp-features {
    grid-template-columns: 1fr;
    max-width: 520px;
  }

  .lp-hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

 .lp-logo__image {
    width: 100px;
    top: 15px;
    left: 36px;
  }

}